extends ../../layout/layout

include ../../components/container/container
include ../../components/map-records/map-records
include ../../components/expander/expander
include ../../components/input-field/input-field
include ../../components/map-finishes/map-finishes

block vars
  - const title = "Map profile"

block main
  -
    const className = "map-profile"
    const data = require("./data.json")
    
  div(class=`${className} js-${className}`)
    +container()
      div(class=`${className}__main`)
        h1(class=`${className}__title-text js-${className}__title-text`)
        div(class=`${className}__map js-${className}__map`)
          +map-records(data.mapProfile)
        div(class=`${className}__expander js-${className}__expander`)
          +expander(data.expander)
            div(class=`${className}__filters`)
              div(class=`${className}__input-player-name js-${className}__input-player-name`)
                +input-field(data.inputPlayerName)
            button(class=`${className}__reset-button js-${className}__reset-button`) Reset
        div(class=`${className}__map-finishes js-${className}__map-finishes`)
          +map-finishes()