extends ../../layout/layout

include ../../components/container/container
include ../../components/category-menu/category-menu
include ../../components/pagination/pagination
include ../../components/map-records/map-records

block vars
  - const title = "Player profile"

block main
  -
    const className = "player-profile"
    const data = require("./data.json")
    
  div(class=`${className} js-${className}`)
    +container()
      div(class=`${className}__main`)
        a(class=`${className}__title js-${className}__title` target="_blank" rel="noopener noreferrer")
          h1(class=`${className}__title-text js-${className}__title-text`)
        div(class=`${className}__category-menu js-${className}__category-menu`)
         +category-menu(data.categoryMenu)
        div(class=`${className}__map-records js-${className}__map-records`)
          +map-records({})
        div(class=`${className}__pagination js-${className}__pagination`)
          +pagination({})