mixin expander(vars = {})
  -
    const {
      title = '',
      isOpen = true,
    } = vars

    const className = 'expander'
    let classNames = `${className} js-${className}`

  if (isOpen)
    - classNames += ` ${className}_open`

  div(class=classNames)
    div(class=`${className}__header js-${className}__header`)
      div(class=`${className}__title`)= title
      button(class=`${className}__button`)
        span(class=`${className}__icon material-icons-outlined`) expand_less
    div(class=`${className}__body-wrapper`)
      div(class=`${className}__body`)
        div(class=`${className}__body-inside`)
          block