extends ../../layout/layout

include ../../components/container/container
include ../../components/category-menu/category-menu
include ../../components/pagination/pagination
include ../../components/map-records/map-records
include ../../components/expander/expander
include ../../components/input-field/input-field

block vars
  - const title = "Maps"

block main
  -
    const className = "maps"
    const data = require("./data.json")
    
  div(class=`${className} js-${className}`)
    +container()
      div(class=`${className}__main`)
        h1(class=`${className}__title-text`) Maps
        div(class=`${className}__category-menu js-${className}__category-menu`)
          +category-menu(data.categoryMenu)
        div(class=`${className}__expander js-${className}__expander`)
          +expander(data.expander)
            div(class=`${className}__filters`)
              div(class=`${className}__input-map-name js-${className}__input-map-name`)
                +input-field(data.inputMapName)
            button(class=`${className}__reset-button js-${className}__reset-button`) Reset
        div(class=`${className}__map-records js-${className}__map-records`)
          +map-records(data.mapRecords)
        div(class=`${className}__pagination js-${className}__pagination`)
          +pagination({})