extends ../../layout/layout

include ../../components/container/container
include ../../components/category-menu/category-menu
include ../../components/leaderboard/leaderboard
include ../../components/pagination/pagination
include ../../components/expander/expander
include ../../components/input-field/input-field

block vars
  - const title = "KoG map record holders"

block main
  -
    const className = "landing"
    const data = require("./data.json")
    
  div(class=`${className} js-${className}`)
    +container()
      div(class=`${className}__main`)
        div(class=`${className}__category-menu js-${className}__category-menu`)
          +category-menu(data.categoryMenu)
        div(class=`${className}__expander js-${className}__expander`)
          +expander(data.expander)
            div(class=`${className}__filters`)
              div(class=`${className}__input-name js-${className}__input-name`)
                +input-field(data.inputName)
            button(class=`${className}__reset-button js-${className}__reset-button`) Reset
        div(class=`${className}__leaderboard js-${className}__leaderboard`)
          +leaderboard()
        div(class=`${className}__pagination js-${className}__pagination`)
          +pagination({})