include ../container/container

mixin header(vars)
  -
    const {
      title = {
        link: {
          content: "",
          href: "/mock-address/change-me"
        },
        rest: "",
      },
      latestRecords = {
        href: "/mock-address/change-me",
        title: "Default",
      },
      updateTitle = "",
    } = vars

    const className = "header"
    const classNames = `${className} js-${className}`

  div(class=classNames)
    +container()
      div(class=`${className}__main`)
        div(class=`${className}__title`)
          a(
            class=`${className}__title-highlighted`
            href=title.link.href
          )= title.link.content
          span(class=`${className}__title-rest`)= title.rest
        div(class=`${className}__menu`)
          a(
            class=`${className}__latest-records`
            href=latestRecords.href
          )= latestRecords.title
          div(class=`${className}__update`)
            div(class=`${className}__update-title`)= updateTitle
            div(class=`${className}__update-date js-${className}__update-date`)