include ../container/container

mixin footer(vars)
  -
    const {
      year = 1900,
    } = vars

    const className = "footer"
    const classNames = `${className} js-${className}`

  div(class=classNames)
    +container()
      div(class=`${className}__main`)
        div(class=`${className}__year`)= year