include ../container/container

mixin header(vars)
  -
    const {
      title = {
        link: {
          content: "",
          href: "/mock-address/change-me"
        },
        rest: "",
      },
      nav = [],
      updateTitle = "",
      hasError = false,
    } = vars

    const className = "header"
    const classNames = `${className} js-${className}`

    let errorClasses = `${className}__error`
  
  if (hasError)
    - errorClasses += ` ${className}__error_shown`

  div(class=classNames)
    +container()
      div(class=`${className}__main`)
        div(class=`${className}__title`)
          a(
            class=`${className}__title-highlighted`
            href=title.link.href
          )= title.link.content
          span(class=`${className}__title-rest`)= title.rest
        div(class=`${className}__menu`)
          div(class=`${className}__nav-menu`)
            each item in nav
              div(class=`${className}__nav-item-wrapper`)
                a(
                  class=`${className}__nav-item`
                  href=item.href
                )= item.title
                div(class=`${className}__nav-item-splitter`)
          div(class=`${className}__update`)
            div(class=`${className}__update-title`)= updateTitle
            div(class=`${className}__update-date-wrapper`)
              div(class=`${className}__update-date js-${className}__update-date`)
              div(class=errorClasses)= 'Error on update. Contact KOF :('