mixin map-records(vars)
  -
    const {
    } = vars

    const className = "map-records"
    const classNames = `${className} js-${className}`

  div(class=classNames)
    table(class=`${className}__table`)
      thead(class=`${className}__table-head`)
        tr(class=`${className}__table-row ${className}__table-row_head`)
          th(class=`${className}__table-cell-rank`) #
          th(class=`${className}__table-cell-name ${className}__table-cell-name_header`) Map
          th(class=`${className}__table-cell-category`) Category
          th(class=`${className}__table-cell-time`) Time
      tbody(class=`${className}__table-body js-${className}__table-body`)